body
{
	background-color:#eee;
}

.cLabel
{
	display: block;
	float: left;
	width: 10em;
}

.cInput
{
	display: block;
	float: left;
	width: 16em;
	border: 1px solid #aaa;
	margin-bottom: 1em;
}

.cInputArea
{
	display: block;
	width: 16em;
	height: 6em;
	border: 1px solid #aaa;
	float: left;
	position: relative;
	margin-bottom: 1em;
}

.cAccordionContents
{
	height:100px auto;
	width: 610px;
}

